* {
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    font-weight: 100;
}
body {
  background: aqua;
 
}


h1 {
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
}
h2{
   text-align: center;
   font-family: Montserrat,sans-serif;
   font-weight:500;
}
form {
    max-width: 300px;
   
    margin: 10px auto;
    padding: 10px 20px ;
  
    background: #f4f7f8;
    border-radius: 8px;
    
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    text-align: center;
    
}

fieldset{
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 8px;

}
#submit{
  
  margin-top: 5px;
}
#sort{
  text-align: center;
}

#menu > ul {
  display: none;
  list-style-type:none;
} 
  
#menu > ul > li {
    list-style:none; 
    display: flex;
 justify-content: center;
 align-items: center;
} 
  
#menu > li {
   list-style:none;   

  font-family: Montserrat,sans-serif;
  font-weight: 700;
  display: flex;
 justify-content: center;
 align-items: center;
}

ul > .multi::after {
  content:' +'
}
  
ul > .multi-opened::after {
  content:' -'
}

  
  

a {
    color: red;
}